// Colors
$color-primary-dark: #00111a;
$color-primary: #722F37;
$color-primary-contrast: white;

$color-accent: #00a6ff;
$color-accent-contrast: #e1b7bc;

$tac-grey: #e0e0e0;
$tac-code-background: #f7f7f7;

// Dimensions
$side-nav-width: 320px;
$layout-large-screen: 960px;
