name: CI tests for google/mobly

on: [push]

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]
    steps:
    - name: checkout repo
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox

    # https://github.com/diegovalenzuelaiturra/yapf-action
    - name: YAPF Formatter
      uses: diegovalenzuelaiturra/yapf-action@master
      with:
        args: . --verbose --recursive --in-place --parallel

    - name: Test with tox
      run: |
        tox

